.filter {
    &__category {
        padding: 0 0 .5rem;
    }
    &__title {
        padding: 0 0 .5rem;
        // display: none;
    }
    &__list {}
    &__item {
        line-height: 1.7rem;
    }
    &__input {}
    &__label {}
    &__ {}
}