{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrayBracketSpacing": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "semi": false
      }
    }
  ],
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto"
}
