{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "insertPragma": true,
    "overrides": [
      {
        "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
        "options": {
          "singleQuote": true,
          "semi": false,
          "trailingComma": "all",
          "jsxBracketSameLine": false,
          "arrowParens": "always",
          "insertPragma": true
        }
      }
    ]
  }
  