.checkout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    background-color: #f2f2f2;
    text-align: center;
  }

  &__wrap {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__content {
    p {
      margin: 0 0 1rem;
      width: 100%;
      font-weight: 700;
      font-size: 1.3rem;
      text-align: center;
    }
  }

  &__actions {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__return,
  &__continue {
    display: inline-flex;
    align-items: center;
    width: 15%;
  }
  &__continue {
    justify-content: flex-end;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin: 0 auto;
  }

  &__item {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    width: calc(100% - 1rem) !important;
    padding: 0.5rem;
    border-radius: 10px;
    background: #efefef;
  }

  &__item-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
  }

  &__item-details {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__item-name {
    font-size: 1.2rem;
    width: 100%;
    margin: 5px 0;
  }

  &__item-price {
    display: block;
    padding: 0.5rem 0 0;
    font-size: 0.9rem;
    font-weight: 600;
  }

  &__item-quantity {
    margin: 5px 0;
    display: flex;
  }

  &__item-button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &__total {
    margin: 1rem 0 2rem;
    text-align: right;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
  }

  &__footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }

  &__amount {
    padding: 0 1rem;
    max-width: 40px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  &__quantity {
    &--add {
      border-radius: 0 5px 5px 0;
      font-size: 1.3rem;
      padding: 0 0.7rem;
      background: #fff;
      border: 1px solid #ccc;
      border-left: none;
      cursor: pointer;
    }
    &--less {
      border-radius: 5px 0 0 5px;
      font-size: 1.3rem;
      padding: 0 0.7rem;
      background: #fff;
      border: 1px solid #ccc;
      border-right: none;
      cursor: pointer;
    }
    &--remove {
      background: none;
      border: none;
      font-size: 1.1rem;
      color: red;
      cursor: pointer;
    }
  }

  &__cta {
    margin-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    background: #4caf50;
    color: #fff;
    svg {
      margin: 0 0 -0.2rem 0.5rem;
    }
  }
  &__footer {
    &__wrapper {
      background-color: #f4f4f4;
      max-width: 1200px;
      margin: auto;
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    &__logo {
      flex: 1;
      &__title {
        font-size: 2rem;
        margin: 5px 0;
      }
    }

    &__social {
      &__list {
        display: flex;
        padding: 1rem;
        justify-content: center;
        column-gap: 1rem;
      }
      &__item {
        font-size: 2rem;
        a {
          color: black;
        }
      }
    }
    &__contact,
    &__social {
      flex: 1;

      p {
        margin: 5px 0;
      }
    }

    &__list {
      display: display;
      list-style: none;
      padding: 0;

      &__item {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #333;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

.checkout {
  &__steps {
    width: 70%;
    &__wrap {
      max-width: 1200px;
      margin: 0 auto;
      &--cart {
        // max-width: 50%;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.75rem 2rem 0;
    }

    &__item {
      display: flex;
      justify-content: center;
      position: relative;
      flex-direction: column;
      width: 100%;
      row-gap: 0.8rem;
      align-items: center;

      &:last-child {
        width: auto;
      }
    }

    &__number {
      width: 30px;
      height: 30px;
      border: 2px solid #ddd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      font-weight: bold;
    }

    &__title {
      margin-left: 10px;
      display: block;
      text-wrap: nowrap;
      height: 26px;
      width: 100px;
      text-align: center;
    }

    &__line {
      position: absolute;
      top: 14px;
      left: calc(50% + 30px / 2);
      height: 2px;
      width: calc(98% - 30px / 2);
      background-color: #ddd;
    }

    &__item.active &__number {
      background-color: #4caf50;
      color: #fff;
      border-color: #4caf50;
    }

    &__item.active &__title {
      color: #4caf50;
      font-weight: 700;
    }

    &__item.active &__line {
      background-color: #4caf50;
    }
  }
}

.shippingForm {
  display: flex;
  background-color: #f2f2f2;
  margin: 1rem 0;
  padding: 2rem;
  &__left {
    width: 50%;
    text-align: center;
    h2 {
      font-size: 1.5rem;
      margin: 0 0 2rem;
      text-align: center;
    }
    img {
      margin: 1rem auto 3rem;
    }
    p {
      font-weight: 500;
    }
  }
  &__right {
    width: 50%;
  }
  &__arrow {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0.8rem 0.9rem;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
  }
  &__formGroup {
    margin-bottom: 20px;
    width: 100%;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type='text'] {
      width: 100%;
      max-width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    &--city {
      width: calc(70%);
    }
    &--state {
      width: calc(30%);
      padding-left: 1.5rem;
    }
  }

  button.checkout__cta {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;

    &:hover {
      background-color: #45a049;
    }
  }
}

.paymentForm {
  display: flex;
  background-color: #f2f2f2;
  margin: 1rem 0;
  padding: 2rem;

  &__left {
    width: 50%;
    text-align: center;
    h2 {
      font-size: 1.5rem;
      margin: 0 0 2rem;
      text-align: center;
    }
    img {
      margin: 1rem auto 3rem;
    }
    p {
      font-weight: 500;
    }
  }
  &__right {
    width: 50%;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
  }
  &__formGroup {
    margin-bottom: 20px;
    width: 100%;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type='text'] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}

.success-message {
  .success-message-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0;
  }

  .success-card {
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;

    .success-desc {
      text-align: start;
      padding: 1rem 0;
      font-size: 0.9rem;
    }

    h2 {
      background: #dff9da;
      padding: 1rem;
    }

    .order-details {
      margin-top: 20px;

      .shipping-details,
      .payment-details {
        position: relative;
      }

      .shipping-details,
      .payment-details,
      .order-total {
        margin-bottom: 20px;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          margin-bottom: 5px;
          text-align: start;
        }
      }
    }
  }

  .product-card {
    width: 50%;
    border-radius: 10px;

    .product-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      border-radius: 10px;
      background: #efefef;
      column-gap: 1rem;
      cursor: pointer;
      text-decoration: none;
      color: black;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      h3 {
        font-size: 18px;
        width: 100%;
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.edit-pencil {
  position: absolute;
  right: 1rem;
  top: 0;
  background-color: #efefef;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}
