.header {
  width: 100%;
  z-index: 3;
  padding: 0 0 0.1rem;
  background-color: rgb(255, 255, 255);

  &__wrapper {
    max-width: 1200px;
    margin: auto;
  }

  &__top {
    display: flex;
    border-top: 2px solid;
    border-image: linear-gradient(to right,
        violet 0%,
        violet 16.66%,
        indigo 16.66%,
        indigo 33.33%,
        blue 33.33%,
        blue 50%,
        green 50%,
        green 66.66%,
        yellow 66.66%,
        yellow 83.33%,
        orange 83.33%,
        orange 100%) 1;
    column-gap: 1.5rem;
    justify-content: flex-end;
    padding: 0.5rem 0 0;
    column-gap: 1rem;
    font-size: 0.8rem;

    li {
      &:first-child {
        flex-grow: 1;
      }
    }

    &__icon {
      margin: 0 0 -3px;
    }

    @media (max-width: 576px) {
      li {
        display: none;
      }
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.5rem;
    position: relative;

    @media (max-width: 576px) {
      padding: 1rem 0.5rem;
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;

    &__icon {
      font-size: 3rem;
      font-family: 'Linefont';
      margin-top: -1.1rem;
      display: none;
    }

    &__image {}

    &__title {
      font-size: 1.2rem;
    }
  }

  &__nav {}

  &__list {
    display: inline-flex;

    @media (max-width: 576px) {
      display: none;
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
  }

  &__menumobile {
    display: none;
    font-size: 1.5rem;
    background-color: unset;
    border: none;
    cursor: pointer;

    @media (max-width: 576px) {
      display: block;
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
  }

  &__item {
    padding: 8px 0;
    display: inline-flex;
    align-items: center;

    &--user {}
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 600;

    &__icon {
      margin: 0 0.5rem -3px 0;

      &--user {
        font-size: 1.3rem;
        margin: 0 0 -3px 0;
      }
    }

    &--top {
      padding: 0;
      color: #5f5e5e;
      font-size: 0.8rem;
    }

    &--all {}

    &--phone {
      font-size: 1.2rem;
      font-weight: 700;
      padding: 0 2rem;

      span {
        font-size: 0.7rem;
        display: block;
        color: #606060;
        text-align: end;
        margin-top: 3px;
      }
    }

    &--user {
      padding: 8px 0 8px 12px;
      font-size: 1rem;
      display: inline-flex;
      align-items: center;
    }

    &:hover {
      .header__submenu {
        display: block !important;
      }
    }
  }

  &__select {
    border: none;
    background-color: unset;
    cursor: pointer;
    font-size: 0.7rem;
  }

  &__search {
    flex-grow: 0.5;
    position: relative;
    padding-right: 1rem;

    &__icon {
      position: absolute;
      top: 10px;
      right: 12px;
      border-left: 2px solid rgb(45, 226, 45);
      padding-left: 8px;
    }
  }

  &__cta {
    display: none;
  }

  &__ads {}

  &__input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: none;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }

  &__menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    flex-grow: 0.8;
    border-radius: 0 0 10px 10px;
    border-radius: 10px;

    &__item {
      &:hover {
        .header__submenu {
          display: block;
        }
      }
    }

    &__cep {
      background-color: unset;
      border: none;
      display: inline-flex;
      column-gap: 8px;
      padding: 0;
      font-size: 0.8rem;
      align-items: center;
      display: none;
    }

    &__list {
      display: inline-flex;
      flex-grow: 1;
      gap: 2rem;
    }

    &__recent {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.8rem;
      color: black;
      text-decoration: none;
      cursor: pointer;
      display: none;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__submenu {
    position: absolute;
    left: 0;
    transition: all 2s;
    display: none;
    width: 100%;
    z-index: 10002;
    padding: 0 0 32px;

    &__list {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: #fff;
      height: 100%;
      z-index: 10001;
    }

    &__item {}

    &__anchor {
      text-decoration: none;
      color: #000;
      padding: 16px;
      display: block;

      &:hover {
        color: gray;
      }
    }
  }

  &__return {
    border: none;
    background-color: unset;
    cursor: pointer;
  }
}
